<div class="container p-5 text-center">            
    <div class="card text-white bg-dark mb-3 p-5">
        <div class="card-header"><h1 class="text-center" >LOGIN</h1></div>
        <div class="card-body">
            <div class="form-group">
                <%= form_for(:session, url: login_path) do |form| %>
                <%= form.email_field :email, class: "form-control", :placeholder => "Email" %> <br/> 
                <%= form.password_field :password, class: "form-control", :placeholder => "Password" %> <br/>
                <div class="d-grid">
                <%= form.submit "Login", class: "btn btn-jindigo" %><br/>
                </div>
                <% end %>
                <h5>Are you new here?</h5> <br/>
                <%= link_to 'Signup', signup_path,  class: "btn btn-jindigo w-100" %>
            </div>
        </div>
    </div>
</div>