<p id="notice"><%= notice %></p>

<p>
  <strong>Cinema:</strong>
  <%= @showing.cinema_id %>
</p>

<p>
  <strong>Movie:</strong>
  <%= @showing.movie_id %>
</p>

<p>
  <strong>Show date:</strong>
  <%= @showing.show_date %>
</p>

<p>
  <strong>Show time:</strong>
  <%= @showing.show_time %>
</p>

<%= link_to 'Edit', edit_showing_path(@showing) %> |
<%= link_to 'Back', showings_path %>
