<p id="notice"><%= notice %></p>

<p>
  <strong>Cinema:</strong>
  <%= @showing.cinema_id %>
</p>

<p>
  <strong>Movie:</strong>
 Movie #<%= @showing.movie_id %> 
 Title: <%= @showing.movie.title %>
</p>

<p>
  <strong>Show time:</strong>
  <%= @showing.show_time %>
</p>

<%= link_to 'Edit', edit_showing_path(@showing) %> |
<%= link_to 'Back', showings_path %>
