<p id="notice"><%= notice %></p>

<h1>Bookings</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Showing</th>
      <th>Cinema</th>
      <th>Movie</th>
      <th>Time</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody class= "text-center">
    <% @bookings.each do |booking| %>
      <tr>
        <% if current_user.id == booking.user_id || current_user.admin? %>
        <td><%= booking.user_id %>
        <%= booking.user.first_name  %>
        <%= booking.user.last_name %> </td> 
        <td><%= booking.showing_id %></td>
        <td><%= booking.showing.cinema_id %></td>
        <td><%= booking.showing.movie.title %></td>
        <td><%= booking.showing.show_time %></td>
        <td><%= link_to 'Show', booking %></td>
        <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <% if current_user.admin?  %>
        <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
        <% end  %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.admin?  %>
<%= link_to 'New Booking', new_booking_path %>
<% end  %>