<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @booking.user_id %>
</p>

<p>
  <strong>Showing:</strong>
  <%= @booking.showing_id %>
</p>

<p>
  <strong>Cinema:</strong>
  <%= @booking.cinema_id %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
