<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @booking.user_id %>
  <br />
  <strong>User Name:</strong>
  <%= @booking.user.first_name %>
</p>

<p>
  <strong>Showing:</strong>
  <%= @booking.showing_id %>
</p>

<p>
  <strong>Cinema:</strong>
  <%= @booking.showing.cinema_id %>
</p>

<p>
  <strong>Movie no:</strong>
  <%= @booking.showing.movie_id %>
  <br />
  <strong>Movie:</strong>
  <%= @booking.showing.movie.title %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
