<p id="notice"><%= notice %></p>

<h1>Cinemas</h1>

<table>
  <thead>
    <tr>
      <th>Movie</th>
      <th>Seats</th>
      <th>Work hours start</th>
      <th>Work hours end</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cinemas.each do |cinema| %>
      <tr>
        <td><%= cinema.movie_id %></td>
        <td><%= cinema.seats %></td>
        <td><%= cinema.work_hours_start %></td>
        <td><%= cinema.work_hours_end %></td>
        <td><%= link_to 'Show', cinema %></td>
        <td><%= link_to 'Edit', edit_cinema_path(cinema) %></td>
        <td><%= link_to 'Destroy', cinema, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cinema', new_cinema_path %>
