<p id="notice"><%= notice %></p>

<p>
  <strong>Movie:</strong>
    <% @showings.each do |showing| %>
      <tr>
        <td><%= showing.movie.title %></td>

      </tr>
    <% end %>
</p>
<p>
  <strong>Seats:</strong>
  <%= @cinema.seats %>
</p>


<%= link_to 'Edit', edit_cinema_path(@cinema) %> |
<%= link_to 'Back', cinemas_path %>
