<!DOCTYPE html>
<html>
  <head>
    <title>MovieBooking</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-secondary text-orb text-pitch" >
    <%= render "shared/header" %>
    <%= content_for?(:admins_layout) ? yield(:admins_layout) : yield %>
    <%# <%= yield  %>
    <%= render "shared/footer" %>
  </body>
</html>
